
@font-face {
    font-family: 'charegular';
    src: url('../../Fonts/cha-regular-webfont.woff2') format('woff2'),
         url('../../Fonts/cha-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}