.Login{
    display: flex;
    height: 100vh;
    /* border: red solid 1px; */
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
}
.login-container{
    padding-top: 5%;
    display: flexbox;
    width: 20%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    /* display: block; */
    /* border: blue solid 1px; */
    text-align: center;
}
.Login .username input{
    width: 100%;
    border-radius: 1px;
    height: 30px;
    padding: 10px;
    margin: 5px 0;
    font-size: .8rem;
}
.Login .password input{
    width: 100%;
    padding: 10px;
    height: 30px;
    border-radius: 1px;
    margin: 5px 0;
    font-size: .8rem;
}
.Login .login-container button{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    border-radius: 0;
    background: rgba(235, 235, 235, .2);
    font-size: 1rem;
    font-weight: lighter;
    color: white;
    border: rgb(45, 45, 56) solid 2px;
    box-shadow:1px 1px 6px 1px rgb(65, 65, 65) ;
    outline: none;
    cursor: pointer;
}
.Login .login-container button:hover{
    background: rgba(189, 188, 188, 0.2);
}
@media screen and (max-width: 500px){
    .login-container{
        width: 20%;
        min-width: 300px;
    }
    .Login .username input{
        font-size: 1rem;
    }
    .Login .password input{
        font-size: 1rem;
    }
    .Login .login-container button{
        width: 150px;
        height: 40px;
        margin-top: 30px;
        border-radius: 0;
        background: rgba(235, 235, 235, .2);
        font-size: 1.2rem;
        color: white;
        border: rgb(45, 45, 56) solid 2px;
        box-shadow: 1px 1px 4px 1px rgb(48, 48, 48) ;
    }
}
